.fa-twitter{
	color:#141E46;
	font-size:100px;
	
}
.fa-gear{
	color:gray;
	font-size:80px;
	
}
.fa-user{
	color:#D80032;
	font-size:80px;
}
.fa-instagram{
	color:rgb(255, 0, 0);
	font-size:90px;
	
}
.fa-skull-crossbones{
	color:#3F2E3E;
	font-size:60px;
}
.fa-wand-magic-sparkles{
	color:#4E4FEB;
	font-size:100px;
}
.icon-bullhorn{
	color:#3F2305;
	font-size:50px;
}
.icon-connection{
	color:#525FE1;
	font-size:60px;
	
}
.icon-trophy{
	color:#F29727;
	font-size:60px;
}
.icon-music{
	color:#B71375;
	font-size:30px;
}
.icon-spades{
	color:purple;
	font-size:40px;
}
.icon-clubs{
	color:orange;
	font-size:50px;
}
.icon-diamonds{
	color:pink;
	font-size:70px;
}
.icon-man-woman{
	color:#263A29;
	font-size:90px;
}
