@font-face {
    font-family: 'Teko';
    src: url('Teko-Light.woff2') format('woff2'),
        url('Teko-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

